body {
    background-color: linen;
    }
.trips_process {
    vertical-align: center;
    }
.trips_textarea {
    vertical-align: top;
    width: 200px;
    height: 100px;
    }
.statements_list {
    vertical-align: top;
    width: 200px;
    height: 100px;
    }
.pysb_div {
    vertical-align: top;
    width: 300px;
    height: 400px;
    }
