body {
    background-color: linen;
    }
#header {
    text-align:center;
    padding:5px;
    }
#input_panels {
    float: left;
    height: 800px;
    }
#main_panels {
    width: 1200px;
    height: 1000px;
    text-align:center;
    float: center;
    }
.input_panel {
    height: 150px;
    width: 500px;
    padding: 5px;
    }
#trips_panel {
    background-color:#f5ecce;
    }
#reach_panel {
    background-color:#a9f5d0;
    }
#biopax_panel {
    background-color:#f8e0e6;
    }
#bel_panel {
    background-color:#e0e6f8;
    }
#indra_panel {
    float: left;
    height: 630px;
    width: 300px;
    padding: 5px;
    background-color:#cccccc;
    }
#indra_stmts {
    vertical-align: center;
    width: 300px;
    height: 585px;
    }
#model_panel {
    float: left;
    height: 630px;
    width: 310px;
    padding: 5px;
    background-color:#eeeeee;
    }
#trips_input {
    vertical-align: center;
    width: 200px;
    height: 100px;
    }
.statements_list {
    position: relative;
    top: 50%;
    width: 200px;
    height: 100px;
    }
.pysb_div {
    vertical-align: top;
    width: 300px;
    height: 585px;
    }
