<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='canvas.css') }}">
</head>

<body>
<h1>INDRA Web interface</h1>

<div class="trips_panel">
<form action="" method="POST" name="trips_form">
{{ trips_form.trips_input(class_="trips_textarea") }}
{{ trips_form.trips_process(class_="process_button") }}
{{ trips_form.statements_list(class_="statements_list") }}
</form>
</div>

<div class="indra_panel">
<form action="" method="POST" name="indra_form">
{{ indra_form.statements_list(class_="statements_list") }}
</form>
</div>

<textarea class="pysb_div">
{%- if pysb_model %}
{{ pysb_model }}
{%- else %}
Result goes here
{%- endif %}
</textarea>

</body>
</html>
