<!doctype html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='canvas.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='canvas.js') }}"></script>
</head>

<body>
<div id="header">
<h1>INDRA Web interface</h1>
</div>

<div id="main_panels">
<div id="input_panels">
<div id="trips_panel" class="input_panel">
<form action="" method="POST" name="trips_form">
{{ trips_form.trips_input }}
{{ trips_form.trips_process(class_="process_button") }}
{{ trips_form.trips_stmts(class_="statements_list") }}
{{ trips_form.trips_select(class_="process_button") }}
</form>
</div>

<div id="reach_panel" class="input_panel">
<form action="" method="POST" name="reach_form">
{{ reach_form.reach_input }}
{{ reach_form.reach_process(class_="process_button") }}
{{ reach_form.reach_stmts(class_="statements_list") }}
<button type="button" id="reach_select">>></button>
</form>
</div>

<div id="biopax_panel" class="input_panel">
<form action="" method="POST" name="biopax_form">
{{ biopax_form.biopax_input }}
{{ biopax_form.biopax_process(class_="process_button") }}
{{ biopax_form.biopax_stmts(class_="statements_list") }}
<button type="button" id="biopax_select">>></button>
</form>
</div>

<div id="bel_panel" class="input_panel">
<form action="" method="POST" name="bel_form">
{{ bel_form.bel_input }}
{{ bel_form.bel_process(class_="process_button") }}
{{ bel_form.bel_stmts(class_="statements_list") }}
<button type="button" id="bel_select">>></button>
</form>
</div>
</div>

<div class="panel" id="indra_panel">
<form action="" method="POST" name="indra_form">
{{ indra_form.indra_stmts(class_="statements_list") }}
{{ indra_form.remove }}
{{ indra_form.select_all }}
{{ indra_form.select_none }}
{{ indra_form.pysb_assemble }}
{{ indra_form.graph_assemble }}
{{ indra_form.network_assemble }}
</form>
</div>

<div class="panel" id="model_panel">
<textarea class="pysb_div">
{%- if pysb_model %}
{{ pysb_model }}
{%- else %}
Result goes here
{%- endif %}
</textarea>
</div>
</div>

</body>
</html>
